@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .page-container {
        background-color: #fff; /* Light brown */
        padding: 40px 0;
    }

    
    .card {
        background-color: #f3e6d9;
        f3e6d9 border: none;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        color: #5c473b; /* Dark brown */
        margin-bottom: 20px;
    }

    .card-text {
        font-size: 18px;
        color: #7b695c; /* Light brown */
        line-height: 1.6;
    }
</style>

<div class="container-fluid page-container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-5">About Us</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Mission</h2>
                    <p class="card-text">We honor the skill of international craftsmen by presenting their one-of-a-kind works, 
                        maintaining the traditions of their craft, and introducing them to receptive audiences. We also encourage sustainable methods 
                        and foster an appreciation for handcrafted art.</p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Vision</h2>
                    <p class="card-text">Our vision is to establish ourselves as a worldwide center for artisanal excellence, 
                        encouraging skill, respect for culture, and environmentally friendly methods while enabling makers to prosper financially 
                        and improve people's lives with their handiwork.</p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Challenges and Solutions</h2>
                    <p class="card-text">Lastly, James would like to include advanced services and functionalities to enhance user experience and advanced features, such as search capabilities, notifications, serverless services, and automation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
