@{
    ViewData["Title"] = "Home Page";
}  

<style>
    .btn-submit {
        background-color: #007bff; /* Primary blue */
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }

</style>


<h1>Welcome to the best Artisans Website, Khumalo Craft</h1>

<div class="container algin-self-center mt-4">
  
    <div class="row">
        <div class="col-lg-6">
            <img src="/Img/R.jfif" class="img-fluid" alt="Home Hero Image">
        </div>
        <div class="col-lg-6 align-self-center">
            <div class="text-center">
                <h3 class="display-4">Exploring the Artistry</h3>
                <p class="lead">
                    Dedicated to selecting and showcasing the work of craftsmen worldwide, craftsmen on Khumalo Crafts is a passionate project. 
                    Our site acts as a lively exhibition space for outstanding handcrafted goods, each infused with the maker's own talent, heritage, 
                    and inventiveness. Every work of art, whether it be a sculpture or a tapestry woven with great care, conveys a tale of artistry, technique, 
                    and cultural legacy.
                    .
                </p>
            </div>
        </div>

    </div>


    <div class="row">
        <h1 class="display-4"></h1>
        
        <div class="col-lg-6 align-self-center">
            <div class="text-center">
                <h3 class="display-4">Crafting Connections</h3>
                <p class="lead">
                    Connecting craftsmen with discriminating customers who value the beauty and genuineness of handcrafted art is our mission at craftsmen on Khumalo Crafts. 
                    Join us in our mission to appreciate the beauty of handcrafted goods, promote traditional workmanship, and conserve artisanship.
                    .
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="/Img/L.jpg" class="img-fluid" alt="Home Hero Image">
        </div>
     </div>
        <div class=" mt-5">
            <div class="col-lg-8 offset-lg-2">
                <div>
                    <div class=" text-center">
                    <a asp-controller="Home" asp-action="MyWork" class="btn-submit">Explore Now</a>
                    </div>
                </div>
            </div>
        </div>
</div>
